.display-layout {
    pointer-events: auto;
    // width: min(1000px, 80vw);
    min-height: 84vh;
    max-height: 84vh;

    background: var(--dm-bg);
    border: 1px solid var(--dm-border);
    border-radius: 10px;
    color: var(--dm-text);
    padding: 32px;

    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);

    .modal-body {
        // background-color: green;
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: row;

        .tabs {
            // background-color: black;
        }

        .tab {
            width: 100%;
            ;
        }

        .tab-panel {
            // background-color: orange;
            width: 90%;
            max-width: 90% !important;
            overflow-y: hidden;

            h2 {
                height: 20%;
            }

            p {
                height: 20%;
            }

            img {
                max-width: 100%;
                max-height: 100%;
            }

            button {
                width: 100%;
                margin-top: 5%;
            }
        }
    }
}

.view-box {
    display: flex;
    flex-direction: row;
}

.context-box {
    display: flex;
    flex-direction: column;
    overflow: hidden !important;

    h2,
    p {
        text-align: center;
    }

    img {
        overflow: hidden !important;
        max-width: 100%;
    }
}