body.active-modal {
    overflow-y: hidden;
}

.child-modal-wrapper {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    transform: translate3d(-670px, -1px, 0px) !important;
}

.child-modal-wrapper:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.dataset-grid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-y: auto !important;
    overflow-x: hidden !important;

    .grid-item {
        width: 165px;
        height: 165px;

        .dataset-class-button {
            width: 100%;
            height: 100%;
            border: 1px solid black !important;
        }

        .dataset-class-button-selected {
            width: 100%;
            height: 100%;
            border: 1px solid black !important;
            background-color: #02385c !important;
        }
    }
}

.carousel-container {
    width: 100%;
    height: 90%;
    overflow: hidden;
    flex: 4;
    margin-top: 10%;

    .react-multi-carousel-list {
        overflow: visible !important;
    }

    .react-multi-carousel-track {
        button {
            background-color: #305555;
            color: #FDF1E7;
            width: 100%;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 200px;
            border: 1px solid #FDF1E7;
            border-radius: 5px;
            transition: all 1s ease;
        }

        .selected-dataset-class-button {
            background-color: #8e44ad !important;
        }

        .dataset-class-button {
            background-color: #89acc3 !important;
            border: 1px solid black !important;
        }
    }
}

.spinner-container {
    width: 100%;
    height: 90%;
    overflow: hidden;
    flex: 4;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-buttons-container {
    flex: 1;
}