body.active-modal {
    overflow-y: hidden;
}

// .child-modal-wrapper {
//     cursor: move;
//     cursor: grab;
//     cursor: -moz-grab;
//     cursor: -webkit-grab;
//     // transform: translate3d(-670px, -1px, 0px) !important;
// }

// .child-modal-wrapper:active {
//     cursor: grabbing;
//     cursor: -moz-grabbing;
//     cursor: -webkit-grabbing;
// }

// .card {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background-color: black;
//     cursor: pointer;
//     width: 800px;
//     height: 800px;
// }

// .dataset-class-button-selected {
//     width: 100%;
//     height: 100%;
//     border: 1px solid black !important;
//     background-color: #02385c !important;
// }

.dataset-class-button {
    width: 100%;
    height: 100%;
    font-size: 0.6em;
    border: 1px solid black !important;
    background-color: #005790 !important; // Default blue
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.25rem;

    @media (min-width: 1024px) {
        background-color: red !important;
        font-size: 1em;
    }
}

.flip-card {
    border-radius: 0.375rem;
    perspective: 1000px;

    width: 90vw;
    max-width: 300px;
    height: 70vh;
    max-height: 70vh;

    @media (min-width: 768px) {
        max-width: 400px;
    }

    @media (min-width: 1024px) {
        max-width: 600px;
    }

    .flip-card-inner {
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        position: relative;

        .card-front {
            z-index: 2;
            pointer-events: auto;

            .dataset-grid-container {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                overflow-y: auto !important;
                overflow-x: hidden !important;

                .large-grid {
                    display: none;

                    @media (min-width: 1024px) {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .small-grid {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @media (min-width: 1024px) {
                        display: none;
                    }
                }

                .grid-item {
                    width: 70px;
                    height: 70px;

                    @media (min-width: 768px) {
                        width: 100px;
                        height: 100px;
                    }

                    @media (min-width: 1024px) {
                        width: 165px;
                        height: 165px;
                    }
                }
            }
        }

        .card-front,
        .card-back {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            position: absolute;
            backface-visibility: hidden;
        }


        .card-back {
            transform: rotateY(180deg);
            z-index: 1;

            .carousel-container {
                width: 100%;
                height: 90%;
                overflow: hidden;
                flex: 4;
                margin-top: 10%;

                .react-multi-carousel-list {
                    overflow: visible !important;
                }

                .react-multi-carousel-track {
                    button {
                        background-color: #305555;
                        color: #FDF1E7;
                        width: 100%;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 200px;
                        border: 1px solid #FDF1E7;
                        border-radius: 5px;
                        transition: all 1s ease;
                    }

                    .selected-dataset-class-button {
                        background-color: #8e44ad !important;
                    }

                    .dataset-class-button {
                        background-color: #89acc3 !important;
                        border: 1px solid black !important;
                    }
                }
            }

            .spinner-container {
                width: 100%;
                height: 90%;
                overflow: hidden;
                flex: 4;
                margin-top: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}


.flip-button {
    padding: 0;
    position: absolute;
    top: 2%;
    left: 2%;
    border: none !important;
    padding: 0 !important;
    width: 40px;
    height: 40px;

    img {
        height: 100%;
        width: 100%;
    }

}

.modal-buttons-container {
    flex: 1;
}