.view-modal {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}