.tree-container {
    color: #333333 !important;
    min-height: 70%;
    overflow-y: auto;

    .err-msg {
        text-align: center;
        margin-bottom: 10%;
        color: white;
    }

    .MuiTreeItem-root:hover {
        background-color: #ecf0f1;
    }

    .Mui-selected {
        background-color: #77b5bd !important;
    }
}