svg {
    // min-height: 600px;
    // min-width: 950px;
    // margin-left: 5%;
    // margin-top: 5%;
    // width: 52.5%;
    // height: 80%;
    
    min-height: 85%;
    height: 85%;
    max-height: 85%;
    min-width: 850px;
    overflow-x: auto;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #305555;
    border: 1px solid white;
}