body.active-modal {
    overflow-y: hidden;
}

// modal itself
.dataset-modal {
    flex: 1;
    height: 100%;
    max-width: 30%;

    // button on main screen that opens modal
    .dataset-modal-btn {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;

        .dm-button-title {
            display: block;
            color: white;
            font-size: 16px;
            height: 25%;
            margin: 0px;

            @media (min-width: 768px) {
                font-size: 14px;
            }

            @media (min-width: 1024px) {
                font-size: 16px;
            }
        }

        .dm-button-sub {
            color: rgb(255, 255, 255, 0.4);
            font-size: 12px;
            height: 25%;
            margin: 0px;

            @media (min-width: 768px) {
                font-size: 10px;
            }

            @media (min-width: 1024px) {
                font-size: 12px;
            }
        }
    }
}

.modal-positioner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    pointer-events: none;

    // Each modal inside can still scroll independently
}

.modal-wrapper {
    position: absolute;

    width: 90vw;
    max-width: 300px;
    height: auto;
    max-height: 70vh;

    background: #5e89d8;
    padding: 1.5rem;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    pointer-events: auto;

    @media (min-width: 768px) {
        max-width: 400px;
    }

    @media (min-width: 1024px) {
        max-width: 600px;
    }

    .modal-container {
        width: 100%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-y: auto;

        .modal-header {
            height: 10%;
        }

        .modal-title {
            color: white;
            font-size: 2em;
            margin-top: 0;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            display: inline-block;
        }

        .exit-button {
            padding: 0;
            position: absolute;
            top: 2%;
            right: 2%;
            border: none !important;
            padding: 0 !important;
            width: 40px;
            height: 40px;

            img {
                height: 100%;
                width: 100%;
            }

        }
    }
}